<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="sv.edu.udb.carsmotors">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.CarsMotors">
        <activity
            android:name=".lista_item_usuario"
            android:exported="false" />
        <activity
            android:name=".ver_usuarios"
            android:exported="false" />
        <activity
            android:name=".lista_item_tipocoche"
            android:exported="false" />
        <activity
            android:name=".ver_tipocoches"
            android:exported="false" />
        <activity
            android:name=".lista_item_colores"
            android:exported="false" />
        <activity
            android:name=".ver_colores"
            android:exported="false" />
        <activity
            android:name=".lista_item_marca"
            android:exported="false" />
        <activity
            android:name=".ver_marcas"
            android:exported="false" />
        <activity
            android:name=".Automovil"
            android:exported="true" />
        <activity
            android:name=".TipoAutomovil"
            android:exported="true" />
        <activity
            android:name=".Marcas"
            android:exported="true" />
        <activity
            android:name=".Colores"
            android:parentActivityName=".Administrador">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Administrador" />
        </activity>
        <activity
            android:name=".Administrador"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".ver_automoviles"
            android:parentActivityName=".Administrador">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".Administrador" />
        </activity>
        <activity
            android:name=".Login"
            android:parentActivityName=".MainActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".MainActivity" />
        </activity>
        <activity
            android:name=".Cliente"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>